<h1 style="background-color:aquamarine;">Recipes
    information</h1>
    <table border=0>
    <tr style='text-align:left; background-color:rgb(171, 154, 188)'>
    <th>ID</th>
    <th>Title</th>
    <th>Instructions</th>
    <th>Rating</th>
    <th>Type</th>
    </tr>
    <% data.forEach(function(recipe){ %>
    <tr style='text-align:left; background-color:rgb(231, 226, 237)'>
    <td><%= recipe.ID %></td>
    <td><%= recipe.Title %></td>
    <td><%=recipe.Instructions%></td>
    <td><%=recipe.Type%></td>
    <td><%=recipe.Rating%></td>
    <% }) %>
    </tr>
</table>